header{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    position: fixed;
    z-index: 100;
    padding: 8px 0;

}
.header{
    display: flex;
    justify-content: space-between;
}
.header a:hover{
    color: white;
    border-bottom: .1rem solid gold;
}
.user__header{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.logo__header{
    height: 100%;
    width: 3rem;
}
.nombre__header{

    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.contenedor__nav{
    display: flex;
    align-items: center;
    /* background-color: violet; */
    gap: 1.5rem;
}
.lista__header{
    /* background-color: red; */
    display: flex;
    gap: 1.5rem;
    align-items: center;

}
.li{
    list-style:none;
}
.correo__header{
    font-weight: bold;
    font-weight: 400;
}
@media screen and (max-width: 1025px) {
    .header{
        width: 90%;
    }
    .logo__header{
        height: 100%;
        width: 2rem;
    }
    .nombre__header{
        font-size: 16px;
    }
    .nav{
        display: none
    }
}


@media screen and (max-width: 768px) {
    
    .correo__header{
        word-wrap: break-word;
        word-break: break-all;
    }
}
