.contacto__all{
    width: 100%;
    padding: 5rem 0rem 3rem 0rem;
    background: var(--section-color);
}
.section__contacto{
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-height: 640px;
}
.img__contacto{
    width: 100%;
    height: 640px;

}
.input{
    width: 100%;
    height: 56px;
    border: none;
    background: white;
    border-radius: 1rem;
    border: none;
    padding: 10px;
}
input:hover .label{
    border-bottom: 1px solid rgb(0, 166, 255);
    color: aqua;
}

input:focus-within{
    border: 0;
    outline: none;
    border-bottom: 2px solid rgb(0, 166, 255);

}
.input__error{
    border: 1px solid red;
    color: red;
}
.input__mensaje{
    height: 133px;
    padding: 2rem 1rem;
    outline: none;
}
.label{
    position: relative;
    top: -3.3rem;
    left: 1rem;
    font-size: 12px;
}
.label__mensaje{
    position: relative;
    top: -8rem;
    left: 1rem;
}
.titulo__contacto{
    display: block;
    width: 100%;
    
}
.registro{
    max-height: 3rem;
}
.button__mensaje{
    display: flex;
    justify-content: center;
    width: 12rem;
    height: 4rem;
    align-items: center;
    margin-top: 1rem;
    background-color: rgb(75, 139, 192);
    border: none;
    color: #fff;
    cursor: pointer;
}
.mensaje:hover{
    background: #1f3397cf
}
#link{
    opacity: 0;
    display: none;
}
@media screen and (max-width: 1025px) {
    .div__button{
        display: flex;
        justify-content: center;
    }
    .section__contacto{
        grid-template-columns: 1fr;
        max-height: fit-content;
    }
}
@media screen and (max-width: 768px) {
    .section__contacto{
        width: 90%;
    }
}