footer{
    /* background-color: rgb(211, 207, 201); */
    width: 100%;
    height: 15vh;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    background: white;
}
@media screen and (max-width: 1025px) {
    .img__contacto{
        display: none;
    }
    .final{
        word-wrap: break-word;
        word-break: break-all;
    }
}
