.contenedor__skills{
    padding: 2rem 0 3rem;
}
.centro{
    display: flex;
    justify-content: center;
}
.div__skills{
    width: 80%;
    margin: auto;
}
.skills{
    gap: 1rem;
    display: flex;
    justify-content: center;
}
.box__skills{
    background-color: var(--skills-background);
    padding: 3rem 1rem 0rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 10rem;
    border-radius: .5rem;
    box-shadow: var(--shadow-skills);
    box-sizing: border-box;
}
.icon{
    width: 48px;
    height: 48px;
}
.p__skills{
    font-weight: 700;
}
/* formacion */
.contenedor__formacion{
    padding: 2rem 0 3rem;
    background: var(--section-color);
}
.formacion{
    /* background-color: #9b6bd1; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: .8rem;

}
.div__formacion{
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--text-color);
}
.img__def{
    margin: auto;
}
.span__academico{
    background: var(--section-color);
    width: 100%;
    display: flex;
    /* justify-content: center; */
    padding: 1rem 0rem;
    margin: 0;
}
@media screen and (max-width: 1025px) {
    .div__skills{
        width: 90%;
        flex-wrap: wrap;
    }
    .skills{
        flex-wrap: wrap;
    }
    .box__skills{
        width: 100%;
        max-width: 224px;
    } 
    .img__def{
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .formacion{
        display: flow-root;
    }
    .box__skills{
        max-width: 156px;
    }
}
