:root {
    --main-color: antiquewhite;
    --section-color: #95ADB4;
    --h3-color:#464646;
    --contacto-color:#92454356;
    --buttonDemo-color:rgb(75, 139, 192);
    --text-color:#fff;
    --skills-background:#88A2AC;
    --shadow-skills:0rem .2rem .5rem 0rem rgb(29, 25, 23);
    
  }
*{
    color: #464646;
    scroll-behavior: smooth;
    scroll-margin-top: 12vh;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 1rem;
}
body{
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
}
a{
    text-decoration: none;
}
main{
    width: 100%;
}
@media screen and (max-width: 1025px) {
    body{
        width: 100%;
        display: block;
    }
    header{
        width: 100%;
    }
    main{
        width: 100%;
        
    }
}