*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background: #f3f5fc;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .body{

        height: 100%;
    }
    
}
