.texto__encriptado{
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    text-align: center;
    align-items: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 1.2rem;
}
.ajustar{
    height: 90%;
}
.muneco{
    width: 100%;
}
.desaparecer{
    display: none;
}
.textarea__encriptado{
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 24px;
    color: #495057;

}
.textarea__encriptado::placeholder{
    font-weight: bold;
    color: #343A40;
}

@media screen and (max-width: 768px) {
    .texto__encriptado{
        padding-top: 1rem;
        /* max-height: 130px; */
    }
    .muneco{
        display: none;
    }
}

